html,
body {
  height: 100%;
  margin: 0;
  /* font-family: Roboto; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.toolbar {
  display: flex;
  position: absolute;

  width: 100%;
  height: 1.5rem;
  z-index: 999;
  padding-left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
}

#map-container {
  width: 100%;
  height: 100vh;
  /* height: calc(100% - 1rem); */
}
/* 
.toolbar select {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  inset: 0 0 0 0;
  height: 1rem; 
}

.toolbar * {
  margin-top: auto;
  margin-bottom: auto;
}

.toolbar label {
    color: rgba(0, 0, 0, 0.6)
}




.toolbar select option {
  background-color: transparent !important;
  border: 1px solid #e4e4e4;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: #787878;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background: #d3d3d3;
  cursor: pointer;

}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background: #d3d3d3;
  cursor: pointer;
}